{% extends 'base_manage.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css_manage/box.css' %}"/>
{% endblock %}

{% block ext_js %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div>
        <h1>团队注册信息</h1>
        <table border="1">
            <tr>
                <th>研究领域</th>
                <th>负责人用户名</th>
                <th>负责人姓名</th>
                <th>隶属组织</th>
                <th>负责人邮箱</th>
                <th>负责人手机号</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <a href="1.注册信息.html">返回</a><br/>
    </div>
{% endblock %}