{% extends 'base_manage.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css_manage/box.css' %}"/>
{% endblock %}

{% block ext_js %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div  style="margin-left: 350px;margin-top: 50px">

		<b>价格信息查询</b>

		<select>

			<option value="算法名称">算法名称</option>

			<option value="使用方向">使用方向</option>

		</select>

		<input type="text" name="搜索内容">

		<button type="button">查找</button>

		<br/><br/>

		<table  border="1" width="1000" heigth="700">

			<tr><th></th><th>原价格</th><th>修改价格</th></tr>

			<tr><th>单次使用价格</th><th></th><th><input type="text"></th></tr>

			<tr><th>个人包月价格</th><th></th><th><input type="text"></th></tr>

			<tr><th>个人包年价格</th><th></th><th><input type="text"></th></tr>

			<tr><th>团队包月价格</th><th></th><th><input type="text"></th></tr>

			<tr><th>团队包年价格</th><th></th><th><input type="text"></th></tr>

		</table>



		<button type="button">确认修改</button>
</div>
{% endblock %}
