{% extends 'base.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <meta charset="UTF-8">
    <link href="{% static 'css/head.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/footer.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script src="{% static 'js/3.0_function/jquery.min.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="navigation_bars" style="z-index:1">
        <img class="logo0" src="/static/images/logo0.jpg">
        <img class="logo" src="/static/images/logo.jpg">
        <div class="navigation_textbox"><!--导航栏-->
            <div class="text_field">
                <a href="{% url 'app:index' %}">首页</a>
            </div>
            <div class="text_field">
                <span><a href="{% url 'app:aboutus' %}">关于我们</a></span>
                <div class="menu">
                    <a href="{% url 'app:aboutus' %}" ><div style="text-align: center">企业文化</div></a>
                    <a href="{% url 'app:serviceobject' %}"><div style="text-align: center">服务对象</div></a>
                    <a href="{% url 'app:companyculture' %}"><div style="text-align: center">公司文化</div></a>
                    <a href="{% url 'app:media' %}"><div style="text-align: center">媒体引用</div></a>
                </div>
            </div>
            <div class="text_field">
                <span><a href="{% url 'app:teammember' %}">团队成员</a></span>
                <div class="menu">
                    <a href="{% url 'app:consultant_content' %}"><div style="text-align: center">荣誉顾问</div></a>
                    <a href="{% url 'app:business_team' %}"><div style="text-align: center">公司团队</div></a>
                </div>
            </div>
            <div class="text_field">
                <span><a href="{% url 'app:solution' %}">解决方案</a></span>
                <div class="menu">
                    <a href="{% url 'app:trade' %}"><div style="text-align: center">贸易</div></a>
                    <a href="{% url 'app:env' %}"><div style="text-align: center">环境能源</div></a>
                    <a href="{% url 'app:source' %}"><div style="text-align: center">资源</div></a>
                    <a href="{% url 'app:agri' %}"><div style="text-align: center">农业</div></a>
                    <a href="{% url 'app:finance' %}"><div style="text-align: center">财政金融</div></a>
                    <a href="{% url 'app:poverty' %}"><div style="text-align: center">贫困</div></a>
                    <a href="{% url 'app:labor' %}"><div style="text-align: center">劳动力</div></a>
                    <a href="{% url 'app:disaster' %}"><div style="text-align: center">灾害评估</div></a>
                </div>
            </div>
            <div class="text_field">
                <span><a href="{% url 'app:produce' %}">产品系列</a></span>
                <div class="menu">
                    <a href="{% url 'app:produce' %}"><div style="text-align: center">数据软件</div></a>
                    <a href="{% url 'app:simulation_platform' %}"><div style="text-align: center">仿真平台</div></a>
                    <a href="{% url 'app:training_courses' %}"><div style="text-align: center">培训课程</div></a>
                    <a href="{% url 'app:database' %}"><div style="text-align: center">资料库</div></a>
                    <a href="{% url 'app:research_report' %}"><div style="text-align: center">研究报告</div></a>
                </div>
            </div>
            <div class="text_field">
                <span><a href="{% url 'app:recruitment' %}">人才招聘</a></span>
            </div>
            <div class="text_field">
                <span><a href="{% url 'app:contactus' %}">联系我们</a></span>
            </div>
            <div class="btn_field">
                <span><a href="./用户端/2.0用户登录和注册入口.html">注册</a></span>
            </div>
            <div class="btn_field">
                <span><a href="./用户端/2.0用户登录和注册入口.html">登录</a></span>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div class="foot">
        <div class="text_block">
            <h4>关于我们</h4>
            <p>企业简介</p>
            <p>服务对象</p>
            <p>公司文化</p>
        </div>
        <div class="text_block">
            <h4>解决方案</h4>
            <p>贸易</p>
            <p>环境资源</p>
            <p>资源</p>

        </div>
        <div class="text_block">
            <h4>产品系列</h4>
            <p>数据平台</p>
            <p>仿真平台</p>
            <p>资料库</p>
        </div>
        <div class="text_block">
            <h4>人才招聘</h4>
            <p>人才招聘</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>

        </div>
        <div class="text_block">
            <h4>联系我们</h4>
            <p>联系我们</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="warranty">
        <p>@copyright</p>
    </div>
{% endblock %}